:root{
   --cor--texto--verde-escuro: #0F4F4C;
   --cor--botão--verde: #09837E;
   --cor--card--1: #7FC6A6;
   --cor--card--2: #4EABA7;
   --cor--card--3: #50BFA5;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.nav{
   height: 99px;
   font-family: 'Inter', sans-serif;

   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   flex-direction: row;
   padding-left: 74px;
}
.logo{
   font-size: 45px;
}
.menu{
   display: flex;
   align-items: center;
   margin-left: 806px;
}
.sobre-nos, .contato{
   font-size: 25px;
   text-decoration: none;

   color: black;
}
.btn-cadastro{
   width: 177px;
   height: 47px;
   border-radius: 50px;

   font-size: 20px;
}
.btn-login{
   width: 177px;
   height: 47px;

   border-radius: 50px;
   border: none;

   font-size: 20px;
   background-color: var(--cor--botão--verde);
   color: white;
}