:root{
   --cor--texto--verde-escuro: #0F4F4C;
   --cor--botão--verde: #09837E;
   --cor--card--1: #7FC6A6;
   --cor--card--2: #4EABA7;
   --cor--card--3: #50BFA5;
   --cor--card--azul: #EBF3FA;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}
.nav{
   height: 99px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   background-color: #fff;

   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   flex-direction: row;
   padding-left: 74px;
}
.logo{
   font-size: 45px;
   color: var(--cor--texto--verde-escuro);
}
.logo a{
   color: var(--cor--texto--verde-escuro);
}
.point{
   font-weight: lighter;
}
.menu{
   display: flex;
   align-items: center;
   margin-left: 806px;
}
.contato{
   margin-left: 25px;
}
.sobre-nos, .contato{
   font-size: 25px;
   text-decoration: none;

   color: black;
}
.btn-cadastro{
   width: 177px;
   height: 47px;
   margin-left: 40px;
   border-radius: 50px;

   border-style: solid;
   color: var(--cor--botão--verde);
   border-color: var(--cor--botão--verde);
   background-color: #ffffff00;

   font-size: 25px;
}
.btn-login{
   width: 177px;
   height: 47px;
   margin-left: 25px;
   border-radius: 50px;
   border: none;

   font-size: 25px;
   background-color: var(--cor--botão--verde);
   color: white;
}
.card-azul{
   width: 1464px;
   height: 526px;
   margin: 0 auto;
   border-radius: 30px;

   display: flex;
   flex-direction: column;

   background-color: var(--cor--card--azul);
}
.titulo-cardA{
   font-family: 'Inter', sans-serif;
   font-size: 50px;
}
.text-cardA{
   font-family: 'Inter', sans-serif;
   font-size: 20px;
}