:root {
   --cor--texto--verde-escuro: #0F4F4C;
   --cor--botão--verde: #09837E;
   --cor--card--1: #7FC6A6;
   --cor--card--2: #4EABA7;
   --cor--card--3: #50BFA5;
   --cor--card--azul: #EBF3FA;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1499px) {

   /* RESPONSIVIDADE PARA TELAS PEQUENAS/MEDIAS */
   * {
      --texto--Navbar--: 20px;
   }

   .nav {
      height: 5rem;
   }

   .card-azul {
      width: 85%;
   }
}

@media screen and (min-width: 1500px) {

   /* RESPONSIVIDADE PARA TELAS GRANDES */
   * {
      --texto--Navbar--: 25px;
   }

   .container {
      /* width: 85%; */
      margin: 0 auto;
   }

   .nav {
      height: 6.1875rem;
      justify-content: space-around;
   }

   .card-azul {
      width: 1500px;
   }
}

.container {
   margin: 0 auto;
}

.nav {
   width: 100%;
   margin: 0 auto;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: #ffffffda;
   backdrop-filter: blur(25px);
   display: flex;
   align-items: center;
   position: sticky;
   margin: 0 auto;
   width: 100%;
   top: 0;
   display: flex;
   justify-content: space-between;
   padding: 0px 5rem;
}

button {
   cursor: pointer;
}

.logo {
   font-size: 45px;
   color: var(--cor--texto--verde-escuro);
   display: flex;
   align-items: center;
}

.logo a {
   color: var(--cor--texto--verde-escuro);
}

.point {
   font-weight: lighter;
}

.menu {
   display: flex;
   align-items: center;
   gap: 20px;
}

.sobre-nos,
.contato {
   font-size: var(--texto--Navbar--);
   text-decoration: none;

   color: black;
}

.btn-cadastro {
   width: 177px;
   height: 47px;
   border-radius: 50px;

   border-style: solid;
   color: var(--cor--botão--verde);
   border-color: var(--cor--botão--verde);
   background-color: #ffffff00;

   font-size: 1.5625rem;
}

.btn-login {
   width: 11.0625rem;
   height: 2.9375rem;
   border-radius: 3.125rem;
   border: none;

   font-size: 1.5625rem;
   background-color: var(--cor--botão--verde);
   color: white;
}

.card-azul {
   height: 32rem;
   margin: 0 auto;
   border-radius: 1.875rem;
   display: flex;
   justify-content: space-around;
   gap: 2rem;
   padding: 0 3.125rem;
   background-color: var(--cor--card--azul);
}

.texto-card-azul {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.pessoasBike {
   width: 780px;
}

.titulo-cardA {
   color: var(--cor--texto--verde-escuro);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 400;
   font-size: 4.0625rem;
   line-height: 4.75rem;
}

.tempo {
   font-weight: 600;
}

.va-de {
   font-weight: 300;
   font-size: 3.125rem;
}

.bike {
   font-weight: 500;
   font-size: 3.125rem;
}

.text-cardA {
   margin: 0.9375rem 0rem 1.5625rem 0rem;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 400;
   width: 550px;
   font-size: 1.25rem;
   line-height: 1.4375rem;
}

.cadastrar-CardA {
   width: 17.625rem;
   height: 4.6875rem;
   border: none;
   border-radius: 3.125rem;

   font-size: 1.875rem;
   color: #fff;
   background-color: var(--cor--botão--verde);
}

.caixa-card2 {
   height: 46.5rem;
   padding: 1.875rem 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.titulo-cardG {
   font-weight: 500;
   font-size: 4.0625rem;
   color: var(--cor--texto--verde-escuro);
}

.cards {
   display: flex;
   gap: 2.1875rem;
}

.card {
   width: 26.9375rem;
   height: 32.875rem;
   padding: 1.875rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;

   background: #FAFAFA;
   box-shadow: 0rem 0.25rem 3.125rem rgba(0, 0, 0, 0.1);
   border-radius: 3.125rem;

   font-weight: 300;
   font-size: 1.5rem;
   line-height: 1.75rem;
   display: flex;
   align-items: center;
   text-align: justify;

   color: var(--cor--texto--verde-escuro);
}

.titulo-cards {
   font-weight: 500;
   font-size: 2.5rem;
}

.svg-card-1,
.svg-card-2,
.svg-card-3 {
   width: 10.625rem;
   height: 10.625rem;
   margin-bottom: 0.625rem;
   display: flex;
   align-items: center;
   justify-content: center;

   background: rgba(78, 171, 167, 0.1);
   border-radius: 85px;
}

.vemGente {
   height: 673px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: linear-gradient(180deg, rgba(226, 233, 232, 0) 0%, rgba(15, 79, 76, 0.1) 100%);
}

.texto-secao {
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
}

.paragrafoSecao {
   font-weight: 300;
   font-size: 28px;
   line-height: 38px;
   display: flex;
   align-items: center;
   text-align: justify;
   width: 682px;
   color: var(--cor--texto--verde-escuro);
}

.tituloSecao {
   font-weight: 500;
   font-size: 70px;
   display: flex;
   justify-content: end;
   gap: 0.625rem;
   color: var(--cor--texto--verde-escuro);
}


.nosso-app {
   height: 992px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: rgba(15, 79, 76, 0.1);
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 354px;
   background: var(--cor--texto--verde-escuro);
}